{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if form.instance.pk %}
                <h2>Edit Meal: {{ form.instance.name }}</h2>
            {% else %}
                <h2>Add a New Meal</h2>
            {% endif %}
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Save Meal</button>
                <a href="{% url 'vendor_dashboard' %}" class="btn btn-secondary mt-3">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}